<?xml version="1.0" encoding="utf-8"?>

<!-- 01142025-alpha-1 -->

<robot
  name="PTR1T1">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="0.0116208 8.653E-05 0.06561291"
        rpy="0 0 0" />
      <mass
        value="10.319" />
      <inertia
        ixx="0.14872683"
        ixy="-5.245E-05"
        ixz="0.04622714"
        iyy="0.12839444"
        iyz="-0.00106039"
        izz="0.14615884" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.75294 0.75294 0.75294 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="left_hip_link">
    <inertial>
      <origin
        xyz="-0.070687 0.085298 0.00016397"
        rpy="0 0 0" />
      <mass
        value="2.247" />
      <inertia
        ixx="0.0020765"
        ixy="0.001137"
        ixz="5.6E-07"
        iyy="0.0013657"
        iyz="-4.66E-06"
        izz="0.0028816" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/left_hip_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.89804 0.91765 0.92941 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/left_hip_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="left_hip_joint"
    type="revolute">
    <origin
      xyz="0 0.1125 0"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="left_hip_link" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="left_thigh_link">
    <inertial>
      <origin
        xyz="-0.025878 -0.056337 -0.035531"
        rpy="0 0 0" />
      <mass
        value="3.072" />
      <inertia
        ixx="0.021873"
        ixy="0.0042332"
        ixz="-0.010541"
        iyy="0.024443"
        iyz="0.0057227"
        izz="0.014258" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/left_thigh_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.75294 0.75294 0.75294 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/left_thigh_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="left_thigh_joint"
    type="revolute">
    <origin
      xyz="-0.078 0 0"
      rpy="0 0 0" />
    <parent
      link="left_hip_link" />
    <child
      link="left_thigh_link" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="left_knee_link">
    <inertial>
      <origin
        xyz="0.11826 -0.00094983 -0.20112"
        rpy="0 0 0" />
      <mass
        value="1.423" />
      <inertia
        ixx="0.012376"
        ixy="3.92E-05"
        ixz="0.006681"
        iyy="0.016184"
        iyz="-7.213E-05"
        izz="0.0045376" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/left_shank_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.89804 0.91765 0.92941 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/left_shank_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="left_knee_joint"
    type="revolute">
    <origin
      xyz="-0.15 0 -0.25981"
      rpy="0 0 0" />
    <parent
      link="left_thigh_link" />
    <child
      link="left_knee_link" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="left_foot_link">
    <inertial>
      <origin
        xyz="0 0.007525 -0.030732"
        rpy="0 0 0" />
      <mass
        value="0.476" />
      <inertia
        ixx="0.00033909"
        ixy="-1E-08"
        ixz="-3E-08"
        iyy="0.0015741"
        iyz="-7.497E-05"
        izz="0.0016725" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/left_foot_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.89804 0.91765 0.92941 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/left_foot_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="left_foot_joint"
    type="revolute">
    <origin
      xyz="0.15001 0 -0.2598"
      rpy="0 0 0" />
    <parent
      link="left_knee_link" />
    <child
      link="left_foot_link" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="right_hip_link">
    <inertial>
      <origin
        xyz="-0.070687 -0.085298 -0.00016397"
        rpy="0 0 0" />
      <mass
        value="2.247" />
      <inertia
        ixx="0.0020765"
        ixy="-0.001137"
        ixz="-5.6E-07"
        iyy="0.0013657"
        iyz="-4.66E-06"
        izz="0.0028816" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/right_hip_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.89804 0.91765 0.92941 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/right_hip_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right_hip_joint"
    type="revolute">
    <origin
      xyz="0 -0.1125 0"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="right_hip_link" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="right_thigh_link">
    <inertial>
      <origin
        xyz="-0.025873 0.056341 -0.035287"
        rpy="0 0 0" />
      <mass
        value="3.072" />
      <inertia
        ixx="0.02192"
        ixy="-0.0042319"
        ixz="-0.010563"
        iyy="0.024491"
        iyz="-0.0057466"
        izz="0.014256" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/right_thigh_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.75294 0.75294 0.75294 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/right_thigh_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right_thigh_joint"
    type="revolute">
    <origin
      xyz="-0.078 0 0"
      rpy="0 0 0" />
    <parent
      link="right_hip_link" />
    <child
      link="right_thigh_link" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="right_knee_link">
    <inertial>
      <origin
        xyz="0.11827 0.001241 -0.20111"
        rpy="0 0 0" />
      <mass
        value="1.423" />
      <inertia
        ixx="0.01238"
        ixy="-5.173E-05"
        ixz="0.0066804"
        iyy="0.016183"
        iyz="9.712E-05"
        izz="0.0045358" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/right_shank_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.89804 0.91765 0.92941 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/right_shank_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right_knee_joint"
    type="revolute">
    <origin
      xyz="-0.15 0 -0.25981"
      rpy="0 0 0" />
    <parent
      link="right_thigh_link" />
    <child
      link="right_knee_link" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="right_foot_link">
    <inertial>
      <origin
        xyz="0 -0.0070117 -0.030732"
        rpy="0 0 0" />
      <mass
        value="0.476" />
      <inertia
        ixx="0.00033909"
        ixy="-1E-08"
        ixz="-4E-08"
        iyy="0.0015741"
        iyz="7.497E-05"
        izz="0.0016725" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/right_foot_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.89804 0.91765 0.92941 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/right_foot_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right_foot_joint"
    type="revolute">
    <origin
      xyz="0.15001 0 -0.2598"
      rpy="0 0 0" />
    <parent
      link="right_knee_link" />
    <child
      link="right_foot_link" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
</robot>